<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.sedi.customer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.location"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:name="ru.sedi.customerclient.classes.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/appName"
        android:theme="@style/AppTheme"
        tools:replace="icon, label">
        <activity
            android:name="ru.sedi.customerclient.activitys.splash_screen.SplashScreenActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/appName"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="ride"
                    android:scheme="@string/schema" />
            </intent-filter>
        </activity>
        <activity
            android:name="ru.sedi.customerclient.activitys.user_registration.UserPhoneRegisterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="ru.sedi.customerclient.activitys.user_registration.UserKeyInputActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="ru.sedi.customerclient.activitys.choose_tariff.ChooseTariffActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="ru.sedi.customerclient.activitys.active_orders_activity.ActiveOrdersActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="ru.sedi.customerclient.activitys.order_history.OrderHistoryActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="ru.sedi.customerclient.activitys.driver_rating.DriverRatingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppCompatAlertDialogStyle" />
        <activity
            android:name="ru.sedi.customerclient.activitys.about_application.AboutAppActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="ru.sedi.customerclient.dialogs.OrderHistorySearchParamsDialog"
            android:screenOrientation="portrait"
            android:theme="@style/AppCompatAlertDialogStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="ru.sedi.customerclient.activitys.active_order_map_activity.ActiveOrderMapActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="ru.sedi.customerclient.activitys.customer_balance.CustomerBalanceActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="ru.sedi.customerclient.activitys.settings.SettingsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="ru.sedi.customerclient.activitys.user_profile.ProfileActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="ru.sedi.customerclient.activitys.partner_program.PartnerProgramActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="ru.sedi.customerclient.firebase.MyFirebaseInstanceIdService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="ru.sedi.customerclient.firebase.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="ru.sedi.customerclient.activitys.main_2.MainActivity2"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4f17b01d23bb620a074293d1c4d837719a04ce2d" />

        <activity android:name="ru.sedi.customerclient.activitys.move_activity.MoveVersionActivity"></activity>
    </application>

</manifest>